thesis-venv/
**/__pycache__/
**/.idea/
**.pyc
research/notebooks/private
research/notebooks/data
research/notebooks/runs
research/notebooks/*.pt
research/notebooks/unsloth*
data/
server/detection_models/*.pt
server/detection_models/*.json
