thesis-venv/
**/__pycache__/
**/.idea/
**.pyc
research/notebooks/private
research/notebooks/data
research/notebooks/test.ipynb
research/notebooks/runs
research/notebooks/*.pt
research/notebooks/unsloth*
data/
server/detection_models/*.pt
server/detection_models/*.json
experiments/
public_html/
plans/
detection_models/
**.pth
server/state/
server/mock/
client_v2/
gpu-server-main/
dino/
presentation/
